<div class="law-tree">
  <ul>
    <li *ngIf="directories[0].titles">Libros</li>
    <li *ngIf="directories[0].chapters">Titulos</li>
    <li *ngIf="directories[0].articles">Capítulos</li>
    <li *ngFor="let dir of directories">
      <span *ngIf="checkClass(dir)==true" class="iconButton" (click)="toggle(dir)">{{getIcon(dir)}}</span>
      <mat-checkbox [checked]="dir.reviewed" (change)="check(dir)" [class.article]="checkClass(dir)==false">
        {{ dir.name | titleCase | truncate:30:'...' }}
      </mat-checkbox>
      <div *ngIf="dir.expanded">
        <law-tree *ngIf="dir.titles" [directories]="dir.titles"></law-tree>
        <law-tree *ngIf="dir.chapters" [directories]="dir.chapters"></law-tree>
        <law-tree *ngIf="dir.articles" [directories]="dir.articles"></law-tree>
      </div>
    </li>
  </ul>
</div>
