<md-card>
  <form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
    <div>
      <md-input-container style="width: 100%">
        <input mdInput type="text" name="name" placeholder="Full name" formControlName="name">
      </md-input-container>
      <span class="error" *ngIf="userForm.get('name').hasError('required') && userForm.get('name').touched">
        Name is required
      </span>
      <span class="error" *ngIf="userForm.get('name').hasError('minlength') && userForm.get('name').touched">
        Minimum of 2 characters
      </span>
    </div>
    <div>
      <md-input-container style="width: 100%">
        <input mdInput type="text" name="username" placeholder="Desired Username" formControlName="username">
      </md-input-container>
      <span class="error" *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">
        username is required
      </span>
      <span class="error" *ngIf="userForm.get('username').hasError('minlength') && userForm.get('username').touched">
        Minimum of 2 characters
      </span>
    </div>
    <div>
      <div class="md-input-wrapper">
        <md-select placeholder="Company Name" formControlName="company">
          <md-option *ngFor="let company of companies" [value]="company.value">{{ company.viewValue}}</md-option>
        </md-select>
      </div>
    </div>
    <div formGroupName="account" class="inline-columns-flex">
      <md-input-container class="inline-column-item">
        <input mdInput type="email" name="email" placeholder="Email Address" formControlName="email">
        <div class="error" *ngIf="userForm.get('account').get('email').hasError('required') && userForm.get('account').get('email').touched">
          Email is required
        </div>
      </md-input-container>
    </div>
    <div class="md-input-wrapper">
      <md-checkbox formControlName="active">
        Activo?
      </md-checkbox>
    </div>
    <button md-raised-button color="primary" type="submit" [disabled]="user.invalid">Edit</button>
  </form>
</md-card>
