<div class="cats">
  <div class="row">
    <button mat-raised-button *ngFor="let category of categories" color="accent">
      {{category.name}}</button>
  </div>
</div>
<div class="law-list">
  <mat-card *ngFor="let law of laws | async" (click)="navigate(law)">
    <mat-card-content>
      <div class="law-item-info">
        <span class="info-name">{{law.cat}}</span>
        <span class="info-publish">Aprovado: {{law.approvalDate | date}}</span>
        <span class="info-approved">Publicado: {{law.publishDate | date}}</span>
      </div>
      <div class="law-item-name">{{law.name}}</div>
    </mat-card-content>
  </mat-card>
</div>
