<div class="cats">
  <div class="row">
    <button md-raised-button *ngFor="let category of categories" color="accent">
      {{category.name}}</button>
  </div>
</div>
<div class="law-list">
  <md-card *ngFor="let law of laws">
    <md-card-content>
      <div class="law-item-info">
        <span class="info-name">{{law.cat}}</span>
        <span class="info-publish">Aprovado: {{law.approved}}</span>
        <span class="info-approved">Publicado: {{law.journal_date}}</span>
      </div>
      <div class="law-item-name">{{law.name}}</div>
    </md-card-content>
  </md-card>
</div>
