<mat-sidenav-container class="admin-container">
  <mat-sidenav #sidenav class="admin-sidenav" opened="true">
    <div class=" admin-sidenave-header ">
      <div class="circle ">
        <div class="letter ">
          R
        </div>
      </div>
      <div class="info ">
        <div class="name ">Rene Vallecillo</div>
        <div class="email ">reneval23@patience.com</div>
      </div>
    </div>
    <mat-list>
      <a *ngFor="let item of menu" [routerLink]="[item.path]">
        <mat-list-item>{{item.name}}</mat-list-item>
      </a>

    </mat-list>
  </mat-sidenav>
  <div class="admin-sidenav-content ">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
