.data {
  .paragraph {
    margin-bottom: 20px;
    textarea {
      width: 100%;
    }
  }
  .main {
    margin-bottom: 20px;
  }
  .subitem {
    margin-bottom: 10px;
  }
  h2 {
    margin-left: 20px;
  }
}
