<div *ngIf="current" class="data">
  <mat-card class="main">
    <div class="reviewed" align="end">
      <mat-checkbox [checked]="current.reviewed" (change)="check(current)">
        Revisado
      </mat-checkbox>
    </div>
    <mat-form-field style="width:100%">
      <input matInput [(ngModel)]="current.name">
    </mat-form-field>
    <div class="paragraphs" *ngIf="current.paragraph">
      <div class="paragraph" *ngFor="let data of current.paragraph">
        <textarea [rows]="8" matInput [(ngModel)]="data.text"></textarea>
      </div>
    </div>
  </mat-card>

  <h2 *ngIf="getDirectories(current)">Subtitulos</h2>
  <mat-card class="subitem" *ngFor="let data of getDirectories(current)">
    <div class="reviewed" align="end">
      <mat-checkbox [checked]="data.reviewed" [disabled]="true">
        Revisado
      </mat-checkbox>
    </div>
    <mat-card-content>
      <mat-form-field style="width:100%">
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

</div>
