<!--<md-toolbar *ngIf="hasMenu==true" id="menut" color="primary">-->
<!--<md-toolbar id="menut" color="primary">
  {{title}}
</md-toolbar<div>-->
<div>
  <md-toolbar color="primary">
    <button *ngIf="(sidenavToggler$ | async)" md-icon-button (click)="showSidenav()">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
    </button>
    <md-icon class="icon-20">create</md-icon>
    <a routerLink="home">Penshiru</a>
  </md-toolbar>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
