<md-sidenav-container class="admin-container">
  <md-sidenav #sidenav class="admin-sidenav" opened="true">
    <div class=" admin-sidenave-header ">
      <div class="circle ">
        <div class="letter ">
          R
        </div>
      </div>
      <div class="info ">
        <div class="name ">Rene Vallecillo</div>
        <div class="email ">reneval23@patience.com</div>
      </div>
    </div>
    <md-list>
      <md-list-item> Usuarios </md-list-item>
      <md-list-item> Leyes </md-list-item>
      <md-list-item> Info </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="admin-sidenav-content ">
    <!--<button md-button (click)="sidenav.open() ">
      Open sidenav
    </button>-->
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
