mat-card {
  margin: 16px;
  width: 540px;
}

.inline-columns-flex {
  display: flex;
  mat-form-field:last-child {
    margin-right: 0px;
  }
}

.inline-column-item {
  flex: 0 1 auto;
  width: 100%;
  margin-right: 10px;
}
