<div class="top-actions">
  <mat-card class="intro" (click)="showIntro()">
    Generalidades
  </mat-card>
  <div class="actions">
    <button mat-raised-button color="warn" (click)="checkAll()">Check All</button>
    <button mat-raised-button (click)="update(currentFile)">Update</button>
    <button mat-raised-button color="primary" [disabled]="checkIfAll()==false" (click)="saveToDB(law)">Save to DB</button>
  </div>
</div>



<div class="parent">
  <mat-card>
    <law-tree *ngIf="law?.titles" class="tree" [directories]="law?.titles"></law-tree>
    <law-tree *ngIf="law?.books" class="tree" [directories]="law?.books"></law-tree>
  </mat-card>
  <div class="detail-container">
    <div *ngIf="intro" class="intro">
      <mat-card>
        <h2>Generalidades</h2>
        <mat-card-content>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Nombre" [ngModel]="law?.name" (ngModelChange)="law.name = $event">
          </mat-form-field>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Gaceta" [ngModel]="law?.journal" (ngModelChange)="law.journal = $event">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Fecha de Aprobación" [ngModel]="law?.approvalDate | date:'y-MM-dd'" (ngModelChange)="law.approvalDate = $event"
              type="date">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Fecha de Publicación" [ngModel]="law?.publishDate | date:'y-MM-dd'" (ngModelChange)="law.publishDate = $event"
              type="date">
          </mat-form-field>
          <mat-form-field class="form-full-width">
            <textarea [rows]="8" matInput placeholder="Introducción" [ngModel]="law?.intro" (ngModelChange)="law.intro = $event">
            </textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="currentLvl?.titles">
      <h2>Títulos</h2>
      <mat-card *ngFor="let data of currentLvl.titles; let t = index">
        <div class="reviewed" align="end">
          <mat-checkbox [checked]="data.reviewed" (change)="check(data)">
          </mat-checkbox>
        </div>
        <mat-card-content>
          <mat-form-field style="width: 100%">
            <input matInput [(ngModel)]="data.name">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="add(data.name, t)">Add</button>
          <button mat-raised-button color="warn" (click)="del(data.name, t)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="currentLvl?.chapters">
      <h2>Capítulos</h2>
      <mat-card *ngFor="let data of currentLvl.chapters">
        <mat-checkbox [checked]="data.reviewed" (change)="check(data)">
        </mat-checkbox>
        <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="data.name">
        </mat-form-field>
      </mat-card>
    </div>
    <div *ngIf="currentLvl?.articles">
      <h2>Artículos</h2>
      <mat-card *ngFor="let data of currentLvl.articles; let i = index">
        <div class="reviewed" align="end">
          <mat-checkbox [checked]="data.reviewed" (change)="check(data)">
            Revisado
          </mat-checkbox>
        </div>
        <mat-card-content>
          <mat-form-field style="width:100%">
            <input matInput [(ngModel)]="data.name">
          </mat-form-field>
          <textarea [(ngModel)]="data.text">
          {{data.text}}
          </textarea>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="add(data.name, i)">Add</button>
          <button mat-raised-button color="warn" (click)="delete(data.name, i)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <!--<h3>History</h3>
    <ul>
      <li *ngFor="let event of history">{{event}}</li>
    </ul>-->
