<md-card>
  <md-card-title>Buscador de Leyes</md-card-title>
  <md-card-content>
    <md-input-container>
      <input mdInput [formControl]="stateCtrl" (keyup)="search.emit($event.target.value)" [mdAutocomplete]="auto" [value]="query | async">
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let option of options | async" [value]="option + ' |'">
          {{ option }}
        </md-option>
      </md-autocomplete>
    </md-input-container>
    <md-spinner [class.show]="searching"></md-spinner>
  </md-card-content>
</md-card>
