<div class="law">
  <div class="law-info">
    <mat-card>
      <mat-card-content>
        {{ (law | async)?.intro }}
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngFor="let book of (law | async)?.books" class="book">
    <mat-card id="book-{{book.id}}">
      Libro: {{book.name}}
    </mat-card>
    <div *ngFor="let title of book.titles" class="title">
      <mat-card id="title-{{title.id}}">
        Título: {{title.name}}
      </mat-card>
      <div *ngFor="let chapter of title.chapters" class="chapter">
        <mat-card id="chapter-{{chapter.id}}">
          Capítulo: {{chapter.name}}
        </mat-card>
        <div *ngFor="let article of chapter.articles" class="article">
          <mat-card id="article-{{article.id}}">
            <mat-card-title>{{article.name}}</mat-card-title>
            <mat-card-content>{{article.text}}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let title of (law | async)?.titles" class="title">
    <mat-card id="title-{{title.id}}">
      Título: {{title.name}}
    </mat-card>
    <div *ngFor="let chapter of title.chapters" class="chapter">
      <mat-card id="chapter-{{chapter.id}}">
        Capítulo: {{chapter.name}}
      </mat-card>
      <div *ngFor="let article of chapter.articles" class="article">
        <mat-card id="article-{{article.id}}">
          <mat-card-title>{{article.name}}</mat-card-title>
          <mat-card-content>{{article.text}}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
