<div class="law">
  <div class="law-info">
    <md-card>
      <md-card-content>
        {{ (law | async)?.intro }}
      </md-card-content>
    </md-card>
  </div>
  <div *ngFor="let book of (law | async)?.books" class="book">
    <md-card id="book-{{book.id}}">
      Libro: {{book.name}}
    </md-card>
    <div *ngFor="let title of book.titles" class="title">
      <md-card id="title-{{title.id}}">
        Título: {{title.name}}
      </md-card>
      <div *ngFor="let chapter of title.chapters" class="chapter">
        <md-card id="chapter-{{chapter.id}}">
          Capítulo: {{chapter.name}}
        </md-card>
        <div *ngFor="let article of chapter.articles" class="article">
          <md-card id="article-{{article.id}}">
            <md-card-title>{{article.name}}</md-card-title>
            <md-card-content>{{article.text}}</md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let title of (law | async)?.titles" class="title">
    <md-card id="title-{{title.id}}">
      Título: {{title.name}}
    </md-card>
    <div *ngFor="let chapter of title.chapters" class="chapter">
      <md-card id="chapter-{{chapter.id}}">
        Capítulo: {{chapter.name}}
      </md-card>
      <div *ngFor="let article of chapter.articles" class="article">
        <md-card id="article-{{article.id}}">
          <md-card-title>{{article.name}}</md-card-title>
          <md-card-content>{{article.text}}</md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>
