<div class="actions">
  <button md-raised-button color="warn" (click)="checkAll()">Check All</button>
  <button md-raised-button>Update</button>
  <button md-raised-button color="primary" [disabled]="checkIfAll()==false" (click)="saveToDB(law)">Save to DB</button>
</div>
<div class="parent">
  <law-tree class="tree" [directories]="law?.titles"></law-tree>
  <div class="card-container">
    <div *ngIf="currentLvl?.chapters">
      <md-card *ngFor="let data of currentLvl.chapters">
        <md-checkbox [checked]="data.reviewed" (change)="check(data)">
        </md-checkbox>
        <md-input-container style="width: 100%">
          <input md-input [(ngModel)]="data.name">
        </md-input-container>
      </md-card>
    </div>
    <div *ngIf="currentLvl?.articles">
      <md-card *ngFor="let data of currentLvl.articles">
        <div class="reviewed" align="end">
          <md-checkbox [checked]="data.reviewed" (change)="check(data)">
            Revisado
          </md-checkbox>
        </div>
        <md-card-content>
          <md-input-container style="width:100%">
            <input md-input [(ngModel)]="data.name">
          </md-input-container>
          <textarea [(ngModel)]="data.text">
          {{data.text}}
          </textarea>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <!--<h3>History</h3>
    <ul>
      <li *ngFor="let event of history">{{event}}</li>
    </ul>-->
