<!-- Update once angular 4.0 is released-->
<div *ngIf="(laws$ | async)?.length > 0" class="card-container" align="center">
  <mat-card align="left">
    <mat-nav-list *ngFor="let law of laws$ | async">
      <a mat-list-item (click)="addTab(law.id +'/'+law.name)">
        <h3 matLine>{{law.name}}</h3>
        <p matLine class="secondary">
          <span> rev: {{law.id}}</span>
        </p>
      </a>
    </mat-nav-list>
  </mat-card>
</div>
<div *ngIf="tmpLaws" class="card-container" align="center">
  <mat-card align="left">
    <mat-card-title>Pendientes de Revisar</mat-card-title>
    <mat-nav-list *ngFor="let tlaw of tmpLaws">
      <a mat-list-item (click)="addTab([tlaw.name])">
        <h3 matLine>{{tlaw.name}}</h3>
        <p matLine class="secondary">
          <span> path: {{tlaw.path}}</span>
        </p>
      </a>
    </mat-nav-list>
  </mat-card>
</div>
